.main-nav {
	font-family:$muli;
	line-height:3em;
	li {
		/*@include transition(.33s color);*/
		width: 100%;
		font-size:1.5em;
		li, li li { font-size:1em; }
	}
	.site-nav {
		a {
			@include accordion-nav-style;
			color: $dark;
			background-color: $wwuLtGray;

			&:focus {
				color: $wwuBlue;
				background-color: $wwuLime;
			}
		}
		li { display:block; }
		> li.is-closed:last-child > a,
		> li:not(.is-accordion):last-child > a {
			border-bottom:none;
		}
		ul a { background-color:lighten($wwuLtGray, 2%);
			margin-left: -11%;
			&:focus {
				color: $wwuBlue;
				background-color: $wwuLime;
			}
		}
		ul ul a {
			background-color:lighten($wwuLtGray, 4%);
			padding-left: 20%;
			margin-left: -25%;}
	}

	.is-accordion {
		background-repeat:no-repeat;
		background-position:right top;
		background-color: darken($wwuLtGray, 10%);
		.is-accordion {
			background-color: darken($wwuLtGray, 5%)}
	}
	.is-open, .is-active-parent {
		background-image:url('https://www.wwu.edu/wwucommon/lite/images/accordion-minus-icon.png');
		cursor:n-resize;
	}
	.is-closed {
		background-image:url('https://www.wwu.edu/wwucommon/lite/images/accordion-plus-icon.png');
		cursor:s-resize;
	}

	//RECTANGLE Marker in the left of active nav item
	.is-active:before {
		display:relative;
		content:'';
		float:left;
		margin-left: -2em;
		margin-top: -.3em;
		width: 1.6em;
		height: 2.35em;
		border-style: solid;
		border-width: 0em 0em 0em .3em;
		border-color: transparent transparent transparent $wwuLime;
	}
	.main-nav li a.is-active:before {
		margin-top: -.3em;
		height: 2em;
	}

}
