$zen-column-count:9;
$zen-gutter-width:$baseline;
$zen-auto-include-item-base: true;

// // // // // // //      Sand // Less than 750px wide      // // // // // // //
@media #{$sand} {
$zen-column-count:1;

.main-nav { padding:0; }
	.main-nav {
		display:none;
		li a { padding:0 0 0 2em; }
		.site-nav {
			a:hover, a:active, a:focus { background-color:#fff; }
		}
		.is-accordion {
			> a { margin-right:44px; }
		}
	}


  .main-nav li a.is-active {
		padding-left: 2em;
		margin-left: 0em;
		margin-top: 0em;
	}
	.main-nav li a.is-active:before {
		margin-top: 0em;
		height: 2em;
	}
}

  // // // // // // //      Rock // More than 750px wide     // // // // // // //

  @media #{$rock} {
    	$zen-column-count:9;
  .main-nav {
  		@include zen-grid-item(2.25,1);
  	}

  	 .main-nav {
  	 	.site-nav {
				a {
					padding:4px 2em 1px 2em;
				}
			}

  	 	.is-accordion > a { margin-right:35px;
      }
  	}
  }

// // // // // // //      Igneous Rock (rock-igneous) // Between 750px and 950px wide      // // // // // // //

    @media #{$rock-igneous} {
    	$zen-column-count:9;

    	.main-nav { @include zen-grid-item(2,1);
    	max-width: 257px;
    	}
    }
